<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Lab10 API + UI Suite" verbose="1">
    <test name="Reqres API Tests">
        <classes>
            <class name="com.lab10.tests.reqres.ReqresGetApiTest"/>
            <class name="com.lab10.tests.reqres.ReqresCrudApiTest"/>
            <class name="com.lab10.tests.reqres.SchemaValidationTest"/>
            <class name="com.lab10.tests.reqres.AuthorizationAndErrorHandlingTest"/>
            <class name="com.lab10.tests.reqres.PerformanceAssertionTest"/>
        </classes>
    </test>

    <test name="API UI Integration Tests">
        <classes>
            <class name="com.lab10.tests.integration.ApiUiIntegrationTest"/>
        </classes>
    </test>

    <test name="JsonPlaceholder Project Tests">
        <classes>
            <class name="com.lab10.tests.jsonplaceholder.PostApiTest"/>
            <class name="com.lab10.tests.jsonplaceholder.CommentApiTest"/>
            <class name="com.lab10.tests.jsonplaceholder.UserApiTest"/>
        </classes>
    </test>
</suite>
